<section>
    <div class="languageBox">
        <div class="languageTop">
            <h4>Choice of language</h4>
            <img src="../../../assets/image/ic_logo@3x.png" alt="">
        </div>
        <div class="languageBottom">
            <div class="active">
                <span>English</span>
            </div>
            <div>
                <span>ภาษาไทย</span>
            </div>
        </div>
        <div class="languageGo">
            <span>GO</span>
        </div>
    </div>
</section>
