<div class="main-css">
		<header class="ui-header ui-header-positive ui-border-b">
				<i onclick="window.history.go(-1);" class="ui-icon-return go_back" style="color: #fff;" ></i>
				<h1>
					PK场	
				</h1>
				<i class="icon_message"></i>
		</header>
		<section class="ui-container" style="float: left;width:100%;">

			<section class="mxep_block bg_white">
				<div class="show-pk-info">
					PK说明
				</div>
				<div class="swiper-container banner_img_list">
						<div class="swiper-wrapper">
								<div class="swiper-slide" data-href="">

			                        <span>
			                            <img src="../../assets/image/icon/ico_public_shoppingcart@2x.png" ">
			                        </span>

								</div>
						</div>
						<div class="swiper-pagination"></div>

				</div>
			</section>

			<section class="mxep_block bg_white">
				
			<ul class="ui-grid-halve announced_good_list" style="padding-top: 0;">
						<li class="" data-id="">
								<div class="bg_white ui-grid-item" >
										<div class="ui-txt-line-height-30 ui-nowrap-multi ui-whitespace show-pk-number" >
												总需150人次剩28人次
										</div>
										<div class="ui-grid-trisect-img">
												<img src="../../assets/image/1.png" >
										</div>

										

										<div class="pk-name">
												胖子猿
										</div>

										<div class="pk-icon-lock add_to_shopping_cart">
												<img src="../../assets/image/address/img_address_add@2x.png">
										</div>

								</div>
						</li>

						<li class="" data-id="">
								<div class="bg_white ui-grid-item" >
										<div class="ui-txt-line-height-30 ui-nowrap-multi ui-whitespace show-pk-number" >
												总需150人次剩28人次
										</div>
										<div class="ui-grid-trisect-img">
												<img src="../../assets/image/1.png" >
										</div>

										

										<div class="pk-name">
												胖子猿
										</div>

										<div class="pk-icon-lock add_to_shopping_cart">
												<img src="../../assets/image/address/img_address_add@2x.png">
										</div>

								</div>
						</li>

						<li class="" data-id="">
								<div class="bg_white ui-grid-item" >
										<div class="ui-txt-line-height-30 ui-nowrap-multi ui-whitespace show-pk-number" >
												总需150人次剩28人次
										</div>
										<div class="ui-grid-trisect-img">
												<img src="../../assets/image/1.png" >
										</div>

										

										<div class="pk-name">
												胖子猿
										</div>

										<div class="pk-icon-lock add_to_shopping_cart">
												<img src="../../assets/image/address/img_address_add@2x.png">
										</div>

								</div>
						</li>
				</ul>
			</section>
		</section>
</div>
<script>

</script>