<section>
    <div class="recharges_box">
        <div class="recharges_box_top">
            <img src="../../../assets/image/ic_back@3x.png" class="ic_back_return" alt="" onclick="history.back();" width=24px height=24px;>
            <p>recharges</p>
            <span>
                Recharge 10 Thai Baht to send 1 points
points can be purchased  in the integration
mall designated preducts
            </span>
            <img src="../../../assets/image/ic_jinggao@3x.png" alt="" class="recharges_box_top_icon">
        </div>
        <div class="recharges_content">
            <div class="recharges_content_Select recharges_div">Select rechasrge amount</div>
            <div class="recharges_content_baht">
                <span class="active">5Baht</span>
                <span>50Baht</span>
                <span>100Baht</span>

                <span>300Baht</span>
                <span>500Baht</span>
                <span>1000Baht</span>
            </div>
        </div>
        <div class="recharges_content" style="margin-top: 10px;padding-right: 20px;">
            <div class="recharges_content_Select recharges_div">Select Payment</div>
            <div class="recharges_content_pay recharges_pay_div">
                <div>
                    <img src="../../../assets/image/ic_kbank@3x.png" alt="">
                    <span>K-Bank Pay</span>
                </div>
                <div  class="rechargesCheckbox">
                </div>
            </div>
            <div class="recharges_content_pay recharges_pay_div">
                <div>
                    <img src="../../../assets/image/ic_pline@3x.png" alt="">
                    <span>K-Bank Pay</span>
                </div>
                <div class="rechargesCheckbox">
                </div>
            </div>
            <div class="recharges_content_pay recharges_pay_div">
                <div>
                    <img src="../../../assets/image/ic_card@3x.png" alt="">
                    <span>K-Bank Pay</span>
                </div>
                <div class="rechargesCheckbox">
                </div>
            </div>

        </div>
        <div class="recharges_content_go">
            <span>Recharge: 5 Baht</span>
            <button>Recharge</button>
        </div>
    </div>
</section>