
<div class="share-win-css share-win-bag ">
    <div class="di-img-bg">
        <div class="top">
            <div class="img-bg">              
            </div>
            
        </div>
        <div class="good-img">
            <img src="<%=auction_thumb%>" >
        </div>
    </div>
    <div class="message colo-fff font-b">
        <span class="message-fir">
            下载"同城夺宝APP",一起参与赢大奖
        </span>
        <br>
        <span class="message-sec">
            (输入手机号下载APP,还有惊喜哦!)
        </span>
    </div>

    <span class="spans_block user_account">
                <input type="" name="" maxlength="11" class="award_input" placeholder="输入手机号码" onkeyup="this.value=this.value.replace(/\D/g,'')">   

            </span>
    <span class="spans_block dowload-type no-award-dowload share-win-dowload">
                下载同城夺宝APP，一起赢大奖
            </span>
    <!-- <img src="assets/image/sharewinning/winning.png"> -->
</div>
<style type="text/css">
    #shareWinning-page .share-win-bag {
        position: absolute;
        background-color: #eb4b0d;
        width:100%;
        height:100%;
    }

    .share-win-css .di-img-bg{
        background: url(assets/image/sharewinning/di.png) no-repeat;
        height: 343px;
        background-size: 100% 100%;
    }

    .share-win-css .top{
        margin:0px 10px;
        padding-top: 20px;
    }

    .share-win-css .top .img-bg{
        background: url(assets/image/sharewinning/top.png) no-repeat;
        width: 100%;
        height: 63px;
        background-size: 100% 100%;
    }

    .share-win-css .good-img{
        margin: 0 10px;
        margin-top:7px;
        text-align: center;
    }

    .share-win-css .good-img img{
        width: 150px;
        height: 150px;
    }

    .share-win-css .message{
        margin:0px 10px;
        margin-top: 10px;
    }

    .share-win-css .message .message-fir{
        font-size: 20px;
    }

    .share-win-css .message .message-fir{
        font-size: 18px;
    }

    .share-win-css .colo-fff{
        color: #fff;
    }

    .share-win-css .font-b{
        font-weight: bolder;
    }

    .share-win-css .spans_block{
        display: block;
    }

    .share-win-css .user_account{
        
        height: 36px;
        margin: 0 10px;
        margin-top: 20px;
    }

    .share-win-css .award_input{
        position: relative;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        padding: 0 8px;
        outline: 0;
        line-height: normal;
        text-align: center;
    }

    .share-win-css .dowload-type{
        background-color: #bf2340;
        margin: 15px 10px;
        height: 38px;
        border-radius: 5px;
        line-height: 38px;
        text-align: center;
        color: #FFF;
        font-weight: bolder;
        opacity: 0.9;
    }

    .share-win-css .no-award-dowload{
        background-color: #e6e6e6 !important;
        color: #cccccc !important;
    }
</style>